<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeeiee.mapper.CodegenTableMapper">
    <!--@formatter:off-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yeeiee.domain.entity.CodegenTable">
        <id column="id" property="id" />
        <result column="data_source_id" property="dataSourceId" />
        <result column="parent_menu_id" property="parentMenuId" />
        <result column="table_name" property="tableName" />
        <result column="table_comment" property="tableComment" />
        <result column="class_name" property="className" />
        <result column="author" property="author" />
        <result column="business_name" property="businessName" />
        <result column="ignore_table_prefix" property="ignoreTablePrefix" />
        <result column="ignore_column_prefix" property="ignoreColumnPrefix" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, data_source_id, parent_menu_id, table_name, table_comment, class_name, author, business_name, ignore_table_prefix, ignore_column_prefix, create_user, create_time, update_user, update_time
    </sql>

    <select id="selectCodegenTablePage" resultType="com.yeeiee.domain.vo.CodegenTableVo">
        select
            a.id,
            b.name as dataSource,
            a.parent_menu_id as parentMenuId,
            a.table_name as tableName,
            a.table_comment as tableComment,
            a.class_name as className,
            a.author,
            a.business_name as businessName,
            a.ignore_table_prefix as ignoreTablePrefix,
            a.ignore_column_prefix as ignoreColumnPrefix,
            a.create_time as createTime,
            a.update_time as updateTime
        from (
            select *
            from t_codegen_table
            ${ew.customSqlSegment}
        ) a
        left join t_data_source b
        on a.data_source_id = b.id
    </select>
</mapper>