<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeeiee.mapper.DataSourceMapper">
    <!--@formatter:off-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yeeiee.domain.entity.DataSource">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, url, username, password, create_user, create_time, update_user, update_time
    </sql>

    <select id="selectDataSourcePage" resultType="com.yeeiee.domain.vo.DataSourceVo">
        select
            id,
            name,
            url,
            username,
            create_user as createUser,
            create_time as createTime,
            update_user as updateUser,
            update_time as updateTime
        from t_data_source
        <where>
            <if test="searchName != null and searchName != ''">
                and name like concat('%',#{searchName},'%')
            </if>
        </where>
    </select>
</mapper>