<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeeiee.mapper.MenuMapper">
    <!--@formatter:off-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yeeiee.domain.vo.MenuVo">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="access_path" property="accessPath"/>
        <result column="file_path" property="filePath"/>
        <result column="icon" property="icon"/>
        <result column="pid" property="pid"/>
        <result column="is_keep_alive" property="keepAlive"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, access_path, file_path, icon, pid, is_keep_alive, create_time, update_time
    </sql>
    <select id="selectMenusByRoleNames" resultType="com.yeeiee.domain.vo.MenuVo">
        select
            a.id,
            a.title,
            a.access_path,
            a.file_path,
            a.icon,
            a.pid,
            a.is_keep_alive,
            a.create_time,
            a.update_time
        from t_menu a
        join (
            select
                b.menu_id
            from (
                select
                id
                from t_role a
                <where>
                    <choose>
                        <when test="roles != null and roles.size() > 0">
                            role_name in
                            <foreach collection="roles" item="item" open="(" separator="," close=")">
                                #{item}
                            </foreach>
                        </when>
                        <otherwise>
                            1!=1
                        </otherwise>
                    </choose>
                </where>
            ) a
            join t_role_menu b
            on a.id = b.role_id
            group by b.menu_id
        ) b
        on a.id = b.menu_id
        order by a.id
    </select>


</mapper>
