<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeeiee.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="UserRoleVo" type="com.yeeiee.entity.vo.UserRoleVo">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="role_ids" property="roleIds"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="UserInfoVo" type="com.yeeiee.entity.vo.UserInfoVo">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="token_version" property="version"/>
        <collection property="roleList" ofType="com.yeeiee.entity.vo.RoleVo">
            <id column="role_id" property="id"/>
            <result column="role_name" property="roleName"/>
        </collection>
    </resultMap>


    <select id="selectByUserName" resultMap="UserInfoVo">
        select a.id,
               a.username,
               a.password,
               a.token_version,
               b.role_id,
               c.role_name
        from (select *
              from t_user
              where username = #{username}) a
                 left join t_user_role b
                           on a.id = b.user_id
                 left join t_role c
                           on b.role_id = c.id
    </select>

    <select id="selectUserPages" resultMap="UserRoleVo">
        select a.id,
        a.username,
        a.password,
        a.create_time,
        a.update_time,
        group_concat(b.role_id) as role_ids
        from (
        select
        *
        from t_user
        <if test="searchName != null and searchName.trim() != ''">
            where username like concat('%',#{searchName},'%')
        </if>
        ) a
        left join t_user_role b
        on a.id = b.user_id
        group by a.id, a.username, a.password, a.create_time, a.update_time
    </select>

</mapper>
