<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeeiee.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yeeiee.entity.dto.MenuDto">
        <id column="p_id" property="id"/>
        <result column="p_level" property="level"/>
        <result column="p_title" property="title"/>
        <result column="p_access_path" property="accessPath"/>
        <result column="p_file_path" property="filePath"/>
        <result column="p_icon" property="icon"/>
        <result column="p_update_time" property="updateTime"/>
        <collection property="children" ofType="com.yeeiee.entity.dto.MenuDto">
            <id column="c_id" property="id"/>
            <result column="c_level" property="level"/>
            <result column="c_title" property="title"/>
            <result column="c_access_path" property="accessPath"/>
            <result column="c_file_path" property="filePath"/>
            <result column="c_icon" property="icon"/>
            <result column="c_update_time" property="updateTime"/>
        </collection>
    </resultMap>

    <select id="selectMenusByRoleId" resultMap="BaseResultMap">
        with t1 as (select b.*
                    from (select menu_id
                          from t_role_menu
                          where role_id = #{roleId}) a
                             join t_menu b
                                  on a.menu_id = b.id)
        select a.level       as p_level,
               a.id          as p_id,
               a.title       as p_title,
               a.access_path as p_access_path,
               a.file_path   as p_file_path,
               a.icon        as p_icon,
               a.update_time as p_update_time,
               b.level       as c_level,
               b.id          as c_id,
               b.title       as c_title,
               b.access_path as c_access_path,
               b.file_path   as c_file_path,
               b.icon        as c_icon,
               b.update_time as c_update_time
        from (select 1 as level,
                     id,
                     title,
                     access_path,
                     file_path,
                     icon,
                     update_time
              from t1) a
                 left join (select 2 as level,
                                   id,
                                   title,
                                   access_path,
                                   file_path,
                                   icon,
                                   pid,
                                   update_time
                            from t1) b
                           on a.id = b.pid
        order by p_id, c_id
    </select>
</mapper>
