<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeeiee.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yeeiee.entity.dto.UserDto">
        <id column="u_id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <collection property="roles" ofType="com.yeeiee.entity.Role">
            <id column="r_id" property="id"/>
            <result column="role_name" property="roleName"/>
            <result column="create_time" property="createTime"/>
            <result column="update_time" property="updateTime"/>
        </collection>

    </resultMap>

    <select id="selectByUserName" resultMap="BaseResultMap">
        select a.id as u_id,
               a.username,
               a.`password`,
               c.id as r_id,
               c.role_name,
               c.create_time,
               c.update_time
        from (select id,
                     username,
                     password
              from t_user
              where username = #{username}) a
                 join t_user_role b
                      on a.id = b.user_id
                 join t_role c
                      on b.role_id = c.id
    </select>

</mapper>
