<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeeiee.mapper.UserMapper">

    <!-- BaseResultMap -->
    <resultMap id="BaseResultMap" type="com.yeeiee.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- UserDto -->
    <resultMap id="UserDto" type="com.yeeiee.entity.dto.UserDto">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <collection property="authorities" ofType="java.lang.String">
            <result column="authority"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , username, password, create_time, update_time
    </sql>

    <select id="getUserByName" resultMap="UserDto">
        select a.*,
               c.authority
        from (select id,
                     username,
                     `password`
              from t_user
              where username = #{username}) a
                 left join t_user_auth b
                           on a.id = b.user_id
                 left join t_auth c
                           on b.auth_id = c.id
    </select>
</mapper>
